@{
    ViewData["Title"] = "Fin del Juego";
}
<div style="text-align:center; margin-top:50px;">
    <h1>¡Juego Finalizado!</h1>
    <h2>Jugador: @ViewBag.Username</h2>
    <h3>Puntaje Final: @ViewBag.PuntajeFinal</h3>
    <a class="btn btn-success mt-3" href="@Url.Action("ConfigurarJuego", "Home")">Jugar de Nuevo</a>
</div>