@{
    ViewData["Title"] = "PreguntadOrt - Inicio";
}

<div style="text-align:center; margin-top:50px;">
    <img src="~/images/logo.png" alt="Logo PreguntadOrt" style="width:200px;" />
    <h1>Bienvenido a PreguntadOrt</h1>
    <a class="btn btn-primary btn-lg" href="@Url.Action("ConfigurarJuego", "Home")">Jugar</a>
</div>
