@{
    ViewData["Title"] = "Inicio";
}
<div class="container-center">
    <img src="~/images/logo.png" alt="Logo PreguntadOrt" class="logo" />
    <h1>Bienvenido a PreguntadOrt</h1>
    <a class="btn btn-primary btn-lg" href="@Url.Action("ConfigurarJuego", "Home")">Jugar</a>
</div>